@media screen and (min-width:700px) {

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* LIGNE HORIZONTALE */

.ligne1 { 
    position: absolute;
    width: 35%;
    left: 0;
    top: 93px;
} 

/* BOUTON MAISON */

.home {
    position: absolute;
    position: fixed;
    top: 3%;
    right: 2%;
    color: white;
    width: 50px;
    height: 50px;
    transition-duration: .5s;
    transition-timing-function: ease;
    -webkit-transform: scale(1);
      transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.home:hover {
    color: #B9D22E;
    transition-duration: .5s;
    transition-timing-function: ease;
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* TEXTES + IMAGES (intro) */

img.fond  {
    width: 100%;
    filter: brightness(45%);
}

.container1 {
    position: relative;
    text-align: left;
}

.texte_centrer1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Helvetica Neue;
    font-size: 2.2em;
    font-weight: lighter;
  }

.titre strong:nth-child(1) {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 2.2em;
    color: white;
}

.titre strong:nth-child(2) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 2.2em;
    color: #B9D22E;
}

/* PICTO MAP */

.map {
    color: #B9D22E;
    position: absolute;
    top: 280px;
    right: 250px;
    width: 110px;
    height: 230px;
    z-index: 0;
}

/* SOUS TITRES */

h3 {
    font-family: Helvetica Neue;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 1.8em;
}

h4 {
    font-family: Helvetica Neue;
    font-style: italic;
    color: #B9D22E;
    text-align: center;
    font-size: 1.4em;
}

.ligne-sous {
    width: 50%;
}

/* PARCOURS */

img {
    width: 40%;
    height: 55%;
}

.parcours-1 {
    display: flex;
    margin: 100px 100px;
}

.parcours-1txt {
    display: block;
    margin: 85px 90px;
}

.annee strong:nth-child(1),
.exp strong:nth-child(1),
.dipl strong:nth-child(1) {
    font-family: Open Sans;
    font-weight: 200;
    font-size: 1.5em;
}

.annee strong:nth-child(2),
.exp strong:nth-child(2),
.dipl strong:nth-child(2) {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.5em;
}

/* FOOTER */

.ligne2 { 
    width: 85%;
}

}