@media screen and (max-width:600px) {

    html, body {
        margin: 0;
        padding: 0;
    }

    .flex-grid {
        display: flex;
        flex-wrap: wrap;
        height: 812px;
      }
      .grid-item {
        flex: 1 1 calc(50%);
        border-top: solid 1px #000;
        width: 187px;
        position: relative;
      }
      .grid-item:nth-child(odd) {
        flex: 0 0 50%;
      }

      .img1,
      .img2,
      .img3,
      .img4 {
          height: 100%;
          width: 187px;
          object-fit: cover;
          filter: brightness(50%);
          
      } 

      .texte_centrer {
        position: absolute;
        text-align: center;
        font-family: Montserrat;
        font-size: larger;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }

    }